#div1{
    position:absolute;
    top:50px;
    left:40px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 80px;
    border-color: red blue green orange;
    border-radius: 80px;
}

#div1:hover + #div2 {
    position:absolute;
    top:50px;
    left:240px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 80px;
    border-color: red orange green blue;
    border-radius: 80px;
}

#div1:active + #div2 + #div3 {
    position:absolute;
    top:250px;
    left:40px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 80px;
    border-color: red orange green blue;
    border-radius: 80px;
}

#div1:active + #div2 + #div3 + #div4 {
    position:absolute;
    top:250px;
    left:240px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 80px;
    border-color: red blue green orange;
    border-radius: 80px;
}

.div_P {
  text-align: center;
  width: 450px;
}
